.mainDiv {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 400px;
 background-color: white;
}
.eachUser {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
}
.userInfo {
 display: flex;
 flex-direction: column;
 text-align: left;
 justify-content: center;
 width: 80%;
 border-bottom: 2px solid #000000;
 border-color: #bebebe;
 border-width: thin;
 padding-bottom: 20px;
 padding-right: 20px;
}
.backGroundDiv {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgb(233, 233, 233);
}
.userImage {
 width: 75px;
 height: 80px;
 padding: 20px;
 border-radius: 100%;
}

.userInfo legend {
 margin-top: 5px;
}
